<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FileName" value="Log.txt"/>
    <add key="FilePath" value="..\..\..\Logs\"/>
    <add key="LogAppend" value="false"/>
  </appSettings>
  <connectionStrings>
    <add name="PercorsoCircolareDB"
     providerName="System.Data.SqlClient"
     connectionString="Data Source=CW4KWKVF2;Initial Catalog=PercorsoCircolareDB;Integrated Security=True" />
  </connectionStrings>
</configuration>