USE [master]
GO
/****** Object:  Database [Reti.PCManagement.DB_Comolli]    Script Date: 14/08/2018 17:12:59 ******/
CREATE DATABASE [Reti.PCManagement.DB_Comolli]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PCManagementDB_Comolli', FILENAME = N'D:\Programs\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\PCManagementDB_Comolli.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PCManagementDB_Comolli_log', FILENAME = N'D:\Programs\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\PCManagementDB_Comolli_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Reti.PCManagement.DB_Comolli].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Reti.PCManagement.DB_Comolli]
GO
USE [Reti.PCManagement.DB_Comolli]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 14/08/2018 17:12:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[ID] [int] IDENTITY(0,1) NOT NULL,
	[DESCRIPTION] [nvarchar](max) NOT NULL,
	[REF_YEAR] [int] NOT NULL,
	[START_DATE] [date] NULL,
	[END_DATE] [date] NULL,
	[IS_PERIODIC] [bit] NOT NULL,
	[COORDINATOR_ID] [int] NOT NULL,
 CONSTRAINT [PK_COURSES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrollments]    Script Date: 14/08/2018 17:13:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollments](
	[ID] [int] IDENTITY(0,1) NOT NULL,
	[RESOURCE_ID] [int] NOT NULL,
	[PROJECT_LEADER_ID] [int] NOT NULL,
	[COURSE_ID] [int] NOT NULL,
	[START_DATE] [date] NULL,
	[MAX_END_DATE]  AS (dateadd(month,(18),[START_DATE])),
	[IS_ADMITTED] [bit] NOT NULL,
	[NOTES] [nvarchar](max) NULL,
 CONSTRAINT [PK_ENROLLMENTS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 14/08/2018 17:13:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[ID] [int] IDENTITY(0,1) NOT NULL,
	[SEVERITY] [nvarchar](15) NULL,
	[MESSAGE] [nvarchar](max) NULL,
	[EXCEPTION] [nvarchar](max) NULL,
	[TIMESTAMP] [datetime] NULL,
 CONSTRAINT [PK_LOGS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Resources]    Script Date: 14/08/2018 17:13:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resources](
	[ID] [int] NOT NULL,
	[USERNAME] [nvarchar](8) NOT NULL,
	[SURNAME] [nvarchar](100) NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
	[STATUS] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_RESOURCES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teachers]    Script Date: 14/08/2018 17:13:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teachers](
	[ID] [int] IDENTITY(0,1) NOT NULL,
	[RESOURCE_ID] [int] NOT NULL,
	[COURSE_ID] [int] NOT NULL,
	[NOTES] [nvarchar](max) NULL,
 CONSTRAINT [PK_TEACHERS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([ID], [DESCRIPTION], [REF_YEAR], [START_DATE], [END_DATE], [IS_PERIODIC], [COORDINATOR_ID]) VALUES (0, N'Percorso circolare sviluppo - primo ciclo', 2018, CAST(N'2018-02-01' AS Date), CAST(N'2018-09-15' AS Date), 1, 9)
INSERT [dbo].[Courses] ([ID], [DESCRIPTION], [REF_YEAR], [START_DATE], [END_DATE], [IS_PERIODIC], [COORDINATOR_ID]) VALUES (1, N'Percorso circolare sviluppo - secondo ciclo', 2018, CAST(N'2018-04-01' AS Date), CAST(N'2019-01-15' AS Date), 1, 9)
INSERT [dbo].[Courses] ([ID], [DESCRIPTION], [REF_YEAR], [START_DATE], [END_DATE], [IS_PERIODIC], [COORDINATOR_ID]) VALUES (2, N'Web avanzato', 2018, CAST(N'2018-06-10' AS Date), CAST(N'2018-07-22' AS Date), 0, 16)
SET IDENTITY_INSERT [dbo].[Courses] OFF
SET IDENTITY_INSERT [dbo].[Enrollments] ON 

INSERT [dbo].[Enrollments] ([ID], [RESOURCE_ID], [PROJECT_LEADER_ID], [COURSE_ID], [START_DATE], [IS_ADMITTED], [NOTES]) VALUES (0, 1, 100, 0, CAST(N'2018-02-01' AS Date), 1, N'Obbligatorietà: tutti e 4 i moduli')
INSERT [dbo].[Enrollments] ([ID], [RESOURCE_ID], [PROJECT_LEADER_ID], [COURSE_ID], [START_DATE], [IS_ADMITTED], [NOTES]) VALUES (1, 3, 100, 0, CAST(N'2018-02-01' AS Date), 1, N'Modulo web non necessario')
INSERT [dbo].[Enrollments] ([ID], [RESOURCE_ID], [PROJECT_LEADER_ID], [COURSE_ID], [START_DATE], [IS_ADMITTED], [NOTES]) VALUES (2, 2, 100, 0, CAST(N'2018-02-01' AS Date), 1, N'Modulo c# non necessario')
SET IDENTITY_INSERT [dbo].[Enrollments] OFF
INSERT [dbo].[Resources] ([ID], [USERNAME], [SURNAME], [NAME], [STATUS]) VALUES (1, N'COMOLMA1', N'Comolli', N'Marco', N'Available')
INSERT [dbo].[Resources] ([ID], [USERNAME], [SURNAME], [NAME], [STATUS]) VALUES (2, N'SUPPADA1', N'Suppa', N'Davide', N'Available')
INSERT [dbo].[Resources] ([ID], [USERNAME], [SURNAME], [NAME], [STATUS]) VALUES (3, N'SCHIREL1', N'Schirinzi', N'Elena', N'Available')
SET IDENTITY_INSERT [dbo].[Teachers] ON 

INSERT [dbo].[Teachers] ([ID], [RESOURCE_ID], [COURSE_ID], [NOTES]) VALUES (0, 9, 0, N'Anche coordinatore - primo e quarto modulo')
INSERT [dbo].[Teachers] ([ID], [RESOURCE_ID], [COURSE_ID], [NOTES]) VALUES (1, 11, 0, N'Web e c#')
INSERT [dbo].[Teachers] ([ID], [RESOURCE_ID], [COURSE_ID], [NOTES]) VALUES (2, 10, 0, N'web e webapi')
SET IDENTITY_INSERT [dbo].[Teachers] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [UNQ_USERNAME]    Script Date: 14/08/2018 17:13:00 ******/
ALTER TABLE [dbo].[Resources] ADD  CONSTRAINT [UNQ_USERNAME] UNIQUE NONCLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Logs] ADD  DEFAULT (getdate()) FOR [TIMESTAMP]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [FK_COURSES_COORDINATOR] FOREIGN KEY([COORDINATOR_ID])
REFERENCES [dbo].[Resources] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [FK_COURSES_COORDINATOR]
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD  CONSTRAINT [FK_ENROLLMENTS_PROJECT_LEADER] FOREIGN KEY([PROJECT_LEADER_ID])
REFERENCES [dbo].[Resources] ([ID])
GO
ALTER TABLE [dbo].[Enrollments] CHECK CONSTRAINT [FK_ENROLLMENTS_PROJECT_LEADER]
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD  CONSTRAINT [FK_ENROLLMENTS_RESOURCES] FOREIGN KEY([RESOURCE_ID])
REFERENCES [dbo].[Resources] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Enrollments] CHECK CONSTRAINT [FK_ENROLLMENTS_RESOURCES]
GO
ALTER TABLE [dbo].[Teachers]  WITH CHECK ADD  CONSTRAINT [FK_Teachers_COURSES] FOREIGN KEY([COURSE_ID])
REFERENCES [dbo].[Courses] ([ID])
GO
ALTER TABLE [dbo].[Teachers] CHECK CONSTRAINT [FK_Teachers_COURSES]
GO
ALTER TABLE [dbo].[Teachers]  WITH CHECK ADD  CONSTRAINT [FK_Teachers_RESOURCES] FOREIGN KEY([RESOURCE_ID])
REFERENCES [dbo].[Resources] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Teachers] CHECK CONSTRAINT [FK_Teachers_RESOURCES]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [CHK_ENDDATE] CHECK  (([END_DATE]>[START_DATE]))
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [CHK_ENDDATE]
GO
USE [master]
GO
