<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="PercorsoCircolareDB_Comolli"
     providerName="System.Data.SqlClient"
     connectionString="Data Source=CW4KWKVF2;Initial Catalog=PercorsoCircolareDB_Comolli;Integrated Security=True" />
  </connectionStrings>
</configuration>