/* -- VARIABLES -- */
html, body {
  height: 100%; }

body {
  display: flex;
  flex-direction: column; }

header {
  background-color: #937070; }
  header img {
    padding: 10px;
    width: 10%; }

nav {
  background-color: #c2c4ff; }
  nav ul {
    margin: 0;
    padding: 0; }
    nav ul li {
      display: inline-block;
      padding: 10px 30px; }
      nav ul li:hover {
        background-color: #6e72fa;
        cursor: pointer; }

main {
  flex: 1 0 auto; }
  main .error-msg {
    background-color: lightpink;
    min-height: 40px;
    display: none; }
  main .card-style {
    background-color: #a4a4a4;
    height: 70vh;
    overflow-y: auto;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    position: relative; }
    main .card-style .close-x {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 5px;
      right: 5px;
      background-color: orangered;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      cursor: pointer; }
      main .card-style .close-x span {
        font-weight: bold;
        color: wheat;
        margin-bottom: 5px; }
  main .section-container {
    display: flex;
    justify-content: center; }
    main .section-container .data-list .add-plus {
      /*position: sticky;*/
      display: flex;
      justify-content: center;
      align-items: center;
      top: 0px;
      right: 0px;
      border-radius: 50%;
      height: 40px;
      width: 40px;
      cursor: pointer;
      background-color: green;
      float: right;
      /*display: none;*/ }
      main .section-container .data-list .add-plus span {
        font-weight: bold;
        color: wheat;
        margin-bottom: 8px;
        font-size: 2em; }
    main .section-container .data-list .title-row {
      display: inline-block;
      font-size: x-large; }
    main .section-container .data-list.full-view {
      width: 100%; }
      main .section-container .data-list.full-view .data-list-container {
        display: flex;
        justify-content: center;
        padding: 16px; }
      main .section-container .data-list.full-view .table-container {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 10px; }
        main .section-container .data-list.full-view .table-container table {
          border: solid 2px black;
          width: 100%; }
          main .section-container .data-list.full-view .table-container table th {
            text-align: center;
            border-bottom: solid 2px black; }
          main .section-container .data-list.full-view .table-container table tr {
            border-bottom: solid 1px black; }
          main .section-container .data-list.full-view .table-container table th, main .section-container .data-list.full-view .table-container table td {
            max-width: 20vw;
            text-align: center;
            padding: 8px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap; }
            main .section-container .data-list.full-view .table-container table th:nth-child(even), main .section-container .data-list.full-view .table-container table td:nth-child(even) {
              background-color: aliceblue; }
            main .section-container .data-list.full-view .table-container table th:nth-child(odd), main .section-container .data-list.full-view .table-container table td:nth-child(odd) {
              background-color: lavender; }
    main .section-container .data-list.partial-view {
      display: block;
      width: 50%;
      float: left; }
      main .section-container .data-list.partial-view .data-list-container {
        display: flex;
        padding: 16px; }
        main .section-container .data-list.partial-view .data-list-container .table-container {
          display: flex;
          justify-content: center;
          width: 100%; }
          main .section-container .data-list.partial-view .data-list-container .table-container table {
            border: solid 2px black;
            width: 100%;
            margin: 10px; }
            main .section-container .data-list.partial-view .data-list-container .table-container table th {
              text-align: center;
              border-bottom: solid 2px rgba(0, 0, 0, 0.25); }
            main .section-container .data-list.partial-view .data-list-container .table-container table tr {
              border-bottom: solid 1px rgba(0, 0, 0, 0.15); }
            main .section-container .data-list.partial-view .data-list-container .table-container table th, main .section-container .data-list.partial-view .data-list-container .table-container table td {
              max-width: 20vw;
              text-align: center;
              padding: 8px;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap; }
              main .section-container .data-list.partial-view .data-list-container .table-container table th:nth-child(even), main .section-container .data-list.partial-view .data-list-container .table-container table td:nth-child(even) {
                background-color: aliceblue; }
              main .section-container .data-list.partial-view .data-list-container .table-container table th:nth-child(odd), main .section-container .data-list.partial-view .data-list-container .table-container table td:nth-child(odd) {
                background-color: lavender; }
    main .section-container .data-detail {
      display: none;
      /*display: flex;*/
      width: 50%;
      float: left;
      flex-direction: column; }
      main .section-container .data-detail .data-detail-container {
        padding: 16px; }
        main .section-container .data-detail .data-detail-container .title-row {
          display: flex;
          width: 100%;
          position: relative; }
        main .section-container .data-detail .data-detail-container .courses-detail {
          margin-top: 6px; }
          main .section-container .data-detail .data-detail-container .courses-detail .det-row {
            margin-bottom: 6px;
            border: solid 1px black;
            border-bottom-width: 3px;
            border-radius: 8px;
            display: flex; }
            main .section-container .data-detail .data-detail-container .courses-detail .det-row div {
              display: inline-block; }
              main .section-container .data-detail .data-detail-container .courses-detail .det-row div:nth-child(1) {
                background-color: lightblue;
                width: 20%;
                padding: 8px;
                text-align: right;
                border-bottom-left-radius: 8px;
                border-top-left-radius: 8px; }
              main .section-container .data-detail .data-detail-container .courses-detail .det-row div:nth-child(2) {
                padding: 8px;
                background-color: lightgrey;
                width: 80%;
                border-bottom-right-radius: 8px;
                border-top-right-radius: 8px; }
          main .section-container .data-detail .data-detail-container .courses-detail .buttons-row {
            position: absolute;
            bottom: 5px;
            background-color: wheat;
            right: 0;
            left: 0;
            padding: 15px 30px; }
            main .section-container .data-detail .data-detail-container .courses-detail .buttons-row .button {
              padding: 6px;
              display: inline-block;
              width: 100px;
              text-align: center;
              border-radius: 4px;
              border-bottom: 2px solid rgba(0, 0, 0, 0.15);
              border-right: 1px solid rgba(0, 0, 0, 0.15);
              cursor: pointer;
              user-select: none; }
              main .section-container .data-detail .data-detail-container .courses-detail .buttons-row .button.btn-delete {
                background-color: darkred;
                color: white; }
              main .section-container .data-detail .data-detail-container .courses-detail .buttons-row .button.btn-edit {
                background-color: darkgoldenrod;
                color: white;
                float: right; }
    main .section-container .data-insert {
      display: flex;
      width: 50%; }
      main .section-container .data-insert .data-insert-container {
        padding: 16px;
        width: 100%; }
        main .section-container .data-insert .data-insert-container .card-style {
          display: flex;
          justify-content: center; }
          main .section-container .data-insert .data-insert-container .card-style .close-x {
            top: 8px;
            right: 8px; }
        main .section-container .data-insert .data-insert-container form {
          width: 100%;
          padding: 10px; }
          main .section-container .data-insert .data-insert-container form .input-row {
            display: flex;
            align-items: center;
            padding: 4px;
            margin: 8px;
            border: 1px solid black;
            border-radius: 10px;
            background-color: aquamarine; }
            main .section-container .data-insert .data-insert-container form .input-row label {
              width: 24%;
              padding: 6px 20px 6px 6px;
              text-align: right; }
            main .section-container .data-insert .data-insert-container form .input-row input {
              width: 74%;
              min-height: 18px;
              padding: 6px;
              border-radius: 4px;
              border: none;
              outline-color: white;
              background-color: darkslategrey;
              color: white; }
            main .section-container .data-insert .data-insert-container form .input-row input[type=radio] {
              width: auto;
              margin: 0 15px; }
            main .section-container .data-insert .data-insert-container form .input-row span.radio-value {
              margin-right: 10px; }
            main .section-container .data-insert .data-insert-container form .input-row textarea {
              width: 74%; }
          main .section-container .data-insert .data-insert-container form .btn-row {
            display: flex;
            justify-content: center;
            position: absolute;
            bottom: 10px;
            left: 0;
            right: 0; }
            main .section-container .data-insert .data-insert-container form .btn-row input[type=button] {
              border: none;
              padding: 10px;
              width: 200px;
              border-radius: 12px;
              outline: none;
              cursor: pointer; }
              main .section-container .data-insert .data-insert-container form .btn-row input[type=button]:hover {
                background-color: red; }

footer {
  flex-shrink: 0;
  height: 30px;
  background-color: #9ab35a;
  width: 100%; }

