/* -- Colors-- */
/* -- Sizes --*/
::-webkit-scrollbar {
  width: 5px;
  height: 5px; }

::-webkit-scrollbar-track {
  background: transparent; }

::-webkit-scrollbar-thumb {
  background: rgba(150, 0, 0, 0.4);
  border-radius: 8px; }

::-webkit-scrollbar-thumb:hover {
  background: #d70000; }

::-webkit-scrollbar-corner {
  background: transparent; }

html, body {
  height: 100%; }

body {
  display: flex;
  flex-direction: column; }

header {
  background-color: #a00000;
  color: white;
  position: relative; }
  @media (max-width: 900px) {
    header {
      min-height: 35px;
      text-align: center; } }
  header img {
    padding: 4px;
    width: 6%;
    float: right;
    margin-right: 15px;
    background-color: white;
    margin-top: 4px; }
    @media (max-width: 900px) {
      header img {
        display: none; } }
  header .title {
    font-size: 2vw;
    font-weight: 600;
    position: absolute;
    top: 50%;
    transform: translateY(-55%);
    margin-left: 25px; }
    @media (max-width: 900px) {
      header .title {
        font-size: 14pt;
        position: initial; } }

nav {
  background: linear-gradient(to bottom, #a00000 0%, #d70000 80%);
  border-bottom: 2px solid rgba(0, 0, 0, 0.24); }
  @media (max-width: 900px) {
    nav {
      position: sticky;
      top: 0;
      z-index: 10; } }
  nav ul {
    margin: 0;
    padding: 0; }
    nav ul li {
      color: white;
      font-weight: 500;
      display: inline-block;
      padding: 8px 45px; }
      @media (max-width: 900px) {
        nav ul li {
          padding: 4px 2px;
          width: 24%;
          text-align: center; } }
      @media (max-width: 410px) {
        nav ul li {
          width: 23%;
          font-size: 10pt; } }
      nav ul li:hover {
        background-color: #7d0000;
        cursor: pointer;
        color: #d4dbde; }

main {
  flex: 1 0 auto; }
  main .error-msg {
    background-color: #ffd0b0;
    min-height: 40px;
    display: none;
    color: #d70000;
    border: 2px solid #d70000;
    padding: 4px 10px;
    font-weight: 700;
    font-size: 11pt;
    margin: 2px; }
    main .error-msg .error-msg-txt {
      width: 95%;
      display: inline-block; }
      @media (max-width: 410px) {
        main .error-msg .error-msg-txt {
          width: 92%; } }
    main .error-msg .close-btn {
      float: right;
      color: #d70000;
      cursor: pointer;
      font-weight: 700;
      height: 14px;
      width: 14px;
      border-radius: 4px;
      text-align: center; }
      main .error-msg .close-btn div {
        margin-top: -6px; }
  main .card-style {
    background-color: white;
    height: 75vh;
    overflow-y: auto;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    position: relative;
    box-shadow: 0px 0px 4px 1px #a00000;
    border: 1px solid #d70000; }
    main .card-style .close-x {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 5px;
      right: 5px;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      cursor: pointer;
      background-color: #d70000;
      box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.4); }
      main .card-style .close-x span {
        font-weight: bold;
        color: white;
        margin-bottom: 5px; }
  main .section-container {
    display: flex;
    justify-content: center; }
    @media (max-width: 900px) {
      main .section-container {
        flex-direction: column-reverse; } }
    main .section-container .data-list .add-plus {
      position: sticky;
      display: flex;
      justify-content: center;
      align-items: center;
      top: -5px;
      right: 0px;
      border-radius: 50%;
      height: 40px;
      width: 40px;
      cursor: pointer;
      background-color: #d70000;
      float: right;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); }
      main .section-container .data-list .add-plus span {
        font-weight: bold;
        color: white;
        margin-bottom: 8px;
        font-size: 2em; }
      main .section-container .data-list .add-plus:hover span {
        color: #d4dbde; }
    main .section-container .data-list .title-row {
      display: inline-block;
      font-size: x-large;
      font-weight: 600;
      margin-left: 10px;
      color: #a00000; }
    main .section-container .data-list th {
      color: #d70000; }
    main .section-container .data-list tr {
      font-weight: 500; }
      main .section-container .data-list tr:nth-child(even) {
        background-color: #ffecec; }
      main .section-container .data-list tr:nth-child(odd) {
        background-color: white; }
      main .section-container .data-list tr img {
        width: 20px; }
    main .section-container .data-list tbody tr:hover {
      background-color: #ffaaaa;
      color: #7d0000; }
    main .section-container .data-list.full-view {
      width: 100%; }
      main .section-container .data-list.full-view .data-list-container {
        display: flex;
        justify-content: center;
        padding: 16px; }
      main .section-container .data-list.full-view .table-container {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 10px; }
        main .section-container .data-list.full-view .table-container table {
          border: solid 2px #7d0000;
          width: 100%; }
          main .section-container .data-list.full-view .table-container table th {
            text-align: center;
            border-bottom: solid 2px #7d0000; }
          main .section-container .data-list.full-view .table-container table tr {
            border-bottom: solid 1px #7d0000; }
            main .section-container .data-list.full-view .table-container table tr.selected {
              background-color: #a00000;
              color: white; }
            main .section-container .data-list.full-view .table-container table tr .details-link {
              cursor: pointer;
              user-select: none; }
          main .section-container .data-list.full-view .table-container table th, main .section-container .data-list.full-view .table-container table td {
            max-width: 20vw;
            text-align: center;
            padding: 14px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap; }
    main .section-container .data-list.partial-view {
      display: block;
      width: 50%;
      float: left; }
      @media (max-width: 900px) {
        main .section-container .data-list.partial-view {
          width: 100%;
          float: none; } }
      main .section-container .data-list.partial-view .data-list-container {
        display: flex;
        padding: 16px; }
        main .section-container .data-list.partial-view .data-list-container .table-container {
          display: flex;
          justify-content: center;
          width: 100%; }
          main .section-container .data-list.partial-view .data-list-container .table-container table {
            border: solid 2px #7d0000;
            width: 100%;
            margin: 10px; }
            main .section-container .data-list.partial-view .data-list-container .table-container table th {
              text-align: center;
              border-bottom: solid 2px #7d0000; }
            main .section-container .data-list.partial-view .data-list-container .table-container table tr {
              border-bottom: solid 1px #7d0000; }
              main .section-container .data-list.partial-view .data-list-container .table-container table tr.selected {
                background-color: #a00000;
                color: white; }
              main .section-container .data-list.partial-view .data-list-container .table-container table tr .details-link {
                cursor: pointer;
                user-select: none; }
            main .section-container .data-list.partial-view .data-list-container .table-container table th, main .section-container .data-list.partial-view .data-list-container .table-container table td {
              max-width: 20vw;
              text-align: center;
              padding: 10px;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap; }
    main .section-container .data-detail {
      display: none;
      /*display: flex;*/
      width: 50%;
      float: left;
      flex-direction: column; }
      @media (max-width: 900px) {
        main .section-container .data-detail {
          width: 100%;
          float: none; } }
      main .section-container .data-detail .data-detail-container {
        padding: 16px; }
        main .section-container .data-detail .data-detail-container .title-row {
          display: flex;
          width: 100%;
          position: relative; }
          main .section-container .data-detail .data-detail-container .title-row .title {
            font-weight: 600;
            color: #a00000;
            font-size: 1.5em;
            margin-left: 2px;
            margin-bottom: 2px; }
        main .section-container .data-detail .data-detail-container .detail {
          margin-top: 6px; }
          main .section-container .data-detail .data-detail-container .detail .detail-rows {
            overflow: auto;
            height: 60vh;
            padding: 2px; }
            main .section-container .data-detail .data-detail-container .detail .detail-rows .det-row {
              margin-bottom: 6px;
              border: solid 1px #7d0000;
              border-bottom-width: 3px;
              border-radius: 10px;
              display: flex;
              margin-right: 2px; }
              @media (max-width: 410px) {
                main .section-container .data-detail .data-detail-container .detail .detail-rows .det-row {
                  flex-direction: column; } }
              main .section-container .data-detail .data-detail-container .detail .detail-rows .det-row div {
                display: inline-block; }
                main .section-container .data-detail .data-detail-container .detail .detail-rows .det-row div:nth-child(1) {
                  background-color: #a00000;
                  width: 25%;
                  padding: 8px;
                  border-bottom-left-radius: 8px;
                  border-top-left-radius: 8px;
                  color: white;
                  font-weight: 600;
                  align-items: center;
                  display: flex;
                  justify-content: flex-end;
                  text-align: right; }
                  @media (max-width: 410px) {
                    main .section-container .data-detail .data-detail-container .detail .detail-rows .det-row div:nth-child(1) {
                      width: auto;
                      border-radius: 8px 8px 0 0;
                      justify-content: flex-start; } }
                main .section-container .data-detail .data-detail-container .detail .detail-rows .det-row div:nth-child(2) {
                  padding: 8px;
                  width: 75%;
                  border-bottom-right-radius: 8px;
                  border-top-right-radius: 8px;
                  font-weight: 500;
                  margin-left: 2px;
                  color: #a00000;
                  align-items: center;
                  display: flex; }
                  @media (max-width: 410px) {
                    main .section-container .data-detail .data-detail-container .detail .detail-rows .det-row div:nth-child(2) {
                      width: 100%; } }
          main .section-container .data-detail .data-detail-container .detail .buttons-row {
            position: absolute;
            bottom: 0;
            background-color: #a00000;
            right: 0;
            left: 0;
            padding: 7px 30px;
            border-top: 1px solid #7d0000; }
            main .section-container .data-detail .data-detail-container .detail .buttons-row .button {
              padding: 5px;
              display: inline-block;
              width: 100px;
              text-align: center;
              border-radius: 4px;
              border-bottom: 2px solid rgba(0, 0, 0, 0.24);
              border-right: 1px solid rgba(0, 0, 0, 0.24);
              cursor: pointer;
              user-select: none;
              font-weight: 500;
              box-shadow: 0px 0px 8px 0px rrgba(0, 0, 0, 0.78); }
              @media (max-width: 410px) {
                main .section-container .data-detail .data-detail-container .detail .buttons-row .button {
                  width: 80px; } }
              main .section-container .data-detail .data-detail-container .detail .buttons-row .button.btn-delete {
                background-color: white;
                color: #7d0000; }
              main .section-container .data-detail .data-detail-container .detail .buttons-row .button.btn-edit {
                background-color: white;
                color: #7d0000;
                float: right; }
              main .section-container .data-detail .data-detail-container .detail .buttons-row .button:hover {
                background-color: #d4dbde; }
    main .section-container .data-insert {
      display: flex;
      width: 50%; }
      @media (max-width: 900px) {
        main .section-container .data-insert {
          width: 100%; } }
      main .section-container .data-insert .data-insert-container {
        padding: 16px;
        width: 100%; }
        main .section-container .data-insert .data-insert-container .card-style {
          display: flex;
          justify-content: center; }
          main .section-container .data-insert .data-insert-container .card-style .close-x {
            top: 8px;
            right: 8px; }
        main .section-container .data-insert .data-insert-container form {
          width: 100%;
          padding: 10px; }
          main .section-container .data-insert .data-insert-container form .input-container {
            height: 60vh;
            overflow: auto;
            display: none; }
            main .section-container .data-insert .data-insert-container form .input-container .input-row {
              display: flex;
              align-items: center;
              padding: 4px;
              margin: 8px;
              border: 1px solid #7d0000;
              border-radius: 10px;
              background-color: #a00000; }
              @media (max-width: 410px) {
                main .section-container .data-insert .data-insert-container form .input-container .input-row {
                  flex-direction: column; } }
              main .section-container .data-insert .data-insert-container form .input-container .input-row label {
                width: 24%;
                padding: 6px 20px 6px 6px;
                text-align: right;
                font-weight: 600;
                color: white; }
                @media (max-width: 410px) {
                  main .section-container .data-insert .data-insert-container form .input-container .input-row label {
                    width: 100%;
                    text-align: left; } }
              main .section-container .data-insert .data-insert-container form .input-container .input-row input {
                width: 74%;
                min-height: 18px;
                padding: 6px 8px;
                border-radius: 4px;
                border: none;
                outline-color: yellow;
                background-color: white;
                color: #a00000;
                font-weight: 500; }
                @media (max-width: 410px) {
                  main .section-container .data-insert .data-insert-container form .input-container .input-row input {
                    width: 85%;
                    margin-bottom: 12px; } }
              main .section-container .data-insert .data-insert-container form .input-container .input-row input[type=radio] {
                width: auto;
                margin: 0 15px; }
                @media (max-width: 410px) {
                  main .section-container .data-insert .data-insert-container form .input-container .input-row input[type=radio] {
                    margin: 0 8px; } }
              main .section-container .data-insert .data-insert-container form .input-container .input-row span.radio-value {
                margin-right: 10px;
                color: white;
                font-weight: 500; }
                @media (max-width: 410px) {
                  main .section-container .data-insert .data-insert-container form .input-container .input-row span.radio-value {
                    margin-right: 6px; } }
              main .section-container .data-insert .data-insert-container form .input-container .input-row textarea {
                width: 74%;
                color: #a00000;
                font-weight: 500;
                outline-color: yellow;
                border-radius: 4px;
                padding: 4px; }
                @media (max-width: 410px) {
                  main .section-container .data-insert .data-insert-container form .input-container .input-row textarea {
                    width: 85%;
                    margin-bottom: 12px; } }
              main .section-container .data-insert .data-insert-container form .input-container .input-row select {
                width: 74%;
                color: #a00000;
                font-weight: 500;
                outline-color: yellow;
                border-radius: 4px;
                padding: 4px 2px;
                margin-left: 2px; }
                main .section-container .data-insert .data-insert-container form .input-container .input-row select option {
                  font-weight: 600;
                  color: white;
                  background-color: #a00000; }
          main .section-container .data-insert .data-insert-container form .btn-row {
            display: flex;
            justify-content: center;
            position: absolute;
            bottom: 10px;
            left: 0;
            right: 0; }
            main .section-container .data-insert .data-insert-container form .btn-row input[type=button] {
              border: none;
              padding: 10px;
              width: 200px;
              border-radius: 12px;
              outline: none;
              cursor: pointer;
              background-color: #a00000;
              color: white;
              font-weight: 600;
              box-shadow: 0px 0px 18px 1px rgba(71, 0, 0, 0.51);
              border-bottom: 2px solid rgba(0, 0, 0, 0.24);
              border-right: 1px solid rgba(0, 0, 0, 0.24); }
              main .section-container .data-insert .data-insert-container form .btn-row input[type=button]:hover {
                background-color: #d70000; }

footer {
  color: #d4dbde;
  flex-shrink: 0;
  height: 40px;
  background-color: #a00000;
  width: 100%;
  font-size: 7pt;
  text-align: center;
  padding-top: 6px; }

